html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#details {
  max-width: 696px;
  width: auto;
}

#reviews {
  max-width: 696px;
  width: auto;
}

#gallery {
  width: 100%;
  background: grey;
  display: block;
}

#booking {
  position: fixed;
  top: 420px;
  right: 1.75%;
  height: 250px;
  width: 30%;
  padding: 0;
}

@media(max-width: 1200px){
  #booking{
    top: inherit;
    bottom: 0;
    width: 100%;
    height: 150px;
  }
}